 {% extends 'base.html' %}

{% load static %}
{% block title %}
 login
{% endblock %}
{% block content %}
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <h1 class="container"><b>Авторизоваться</b></h1>
 <br>
 <br>

    {% if form.errors %}
    <p>Error</p>
    {% endif %}
    {% if next %}
    <p>You cant success that page</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="m-2">
        {% csrf_token %}
        <div class="container content-form pleft-25">
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <button value="submit" class="btn btn-succes container p-2">Войти</button>
            </div>
    </form>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

{% endblock %}
